In [25]:
# Import pandas
import pandas as pd
import numpy as np

In [3]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt',sep=' ')
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [9]:
print(df.Ethnicity.unique())

['Caucasian' 'Asian' 'African American']

In [101]:
asia = df[df.Ethnicity == "Asian"].loc[:,"Income"].mean()
caucasian = df[df.Ethnicity == "Caucasian"].loc[:,"Income"].mean()
africa = df[df.Ethnicity == "African American"].loc[:,"Income"].mean()
print(f"The avarage value of each ethnic group is: ") 
print(f"Asian = {asia.round(2)}")
print(f"Caucasian = {caucasian.round(2)}")
print(f"African American = {africa.round(2)}")

The avarage value of each ethnic group is:
Asian = 44.19
Caucasian = 44.52
African American = 47.68

In [118]:

single_balance = df[df.Married == "No"].loc[:,"Balance"].mean()
married_balance = df[df.Married == "Yes"].loc[:,"Balance"].mean()
print(f"Single people balance is {single_balance.round(2)}")
print(f"Married people balance is {married_balance.round(2)}")

if single_balance > married_balance:
    print("On avarage single people have higher balance")
elif single_balance == married_balance :
    print ("Both of the are equal")
else :
    print("On avarage married people have higher balance")

Single people balance is 13.49
Married people balance is 13.39
On avarage single people have higher balance

In [50]:
print("The highest income in the dataframe is: ", df.loc[:, "Income"].max())

The highest income in the dataframe is:  186.634

In [51]:
print("The lowest income in the dataframe is: ", df.loc[:, "Income"].min())

The lowest income in the dataframe is:  10.354

In [56]:
print("The sum of cards in the dataframe is : ", df.loc[:, "Cards"].sum())

The sum of cards in the dataframe is :  1183

In [57]:
df.describe()

,Balance,Income,Limit,Rating,Cards,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,13.429175,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000
std,5.669256,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207
min,3.749403,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000
25%,9.891439,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000
50%,11.779615,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000
75%,15.236961,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000
max,38.785123,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000

In [59]:
female = 0 
male = 0

for i in df.Gender:
    if i == "Female":
        female += 1
    else:
        male += 1
print(f"There is {female} Females and {male} Males in the database")

There is 207 Females and 193 Males in the database

In [117]:
gender_female = df[df["Gender"] == "Female"]
gender_male = df[df["Gender"]== "Male"]
female = gender_female.count()
male = gender_male.count()
print("The male count in this dataframe ")
print(male)
print("The female count in this dataframe")
print(female)

The male count in this dataframe
Balance      193
Income       193
Limit        193
Rating       193
Cards        193
Age          193
Education    193
Gender       193
Student      193
Married      193
Ethnicity    193
dtype: int64
The female count in this dataframe
Balance      207
Income       207
Limit        207
Rating       207
Cards        207
Age          207
Education    207
Gender       207
Student      207
Married      207
Ethnicity    207
dtype: int64

In [ ]:
print("The male count in this dataframe with all the data filled in")
print(male)
print("The female count in this dataframe with all the data filled in")
print(female)