In [4]:
import pandas as pd
df = pd.read_csv('balance.txt',sep=' ')
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

In [5]:
limit_and_rating_info = df[["Limit", "Rating"]]
limit_and_rating_info.head()

   Limit  Rating
0   3606     283
1   6645     483
2   7075     514
3   9504     681
4   4897     357

In [9]:
df[df.Cards == 4]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
5,22.486178,80.180,8047,569,4,77,10,Male,No,No,Caucasian
10,13.994990,63.095,8117,589,4,30,14,Male,No,Yes,Caucasian
20,9.853100,17.700,2860,235,4,63,16,Female,No,No,Asian
29,14.007770,26.813,5611,411,4,55,16,Female,No,No,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
365,25.785416,113.772,6442,489,4,69,15,Male,Yes,Yes,Caucasian
370,10.622421,35.610,6135,466,4,40,12,Male,No,No,Caucasian
371,11.988272,39.116,2150,173,4,75,15,Male,No,No,Caucasian
386,9.196063,19.253,3683,287,4,57,10,Male,No,No,African American
394,14.735482,49.794,5758,410,4,40,8,Male,No,No,Caucasian

In [11]:
cards = df[df["Cards"] == 4]
cards.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
5,22.486178,80.180,8047,569,4,77,10,Male,No,No,Caucasian
10,13.994990,63.095,8117,589,4,30,14,Male,No,Yes,Caucasian
20,9.853100,17.700,2860,235,4,63,16,Female,No,No,Asian
29,14.007770,26.813,5611,411,4,55,16,Female,No,No,Caucasian

In [12]:
df.sort_values(by="Education",ascending=False).head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
60,13.297283,35.510,5198,364,2,35,20,Female,No,No,Asian
51,13.010768,39.705,3969,301,2,27,20,Male,No,Yes,African American
378,10.140785,19.349,4941,366,1,33,19,Male,No,Yes,Caucasian
247,13.774598,36.364,2220,188,3,50,19,Male,No,No,Caucasian
238,11.079748,26.532,2910,236,6,58,19,Female,No,Yes,Caucasian

In [13]:
df.sort_values(by="Education",ascending=False)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
60,13.297283,35.510,5198,364,2,35,20,Female,No,No,Asian
51,13.010768,39.705,3969,301,2,27,20,Male,No,Yes,African American
378,10.140785,19.349,4941,366,1,33,19,Male,No,Yes,Caucasian
247,13.774598,36.364,2220,188,3,50,19,Male,No,No,Caucasian
238,11.079748,26.532,2910,236,6,58,19,Female,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
284,8.298482,14.711,2047,167,2,67,6,Male,No,Yes,Caucasian
368,19.555838,89.000,5759,440,3,37,6,Female,No,No,Caucasian
224,25.262836,121.709,7818,584,4,50,6,Male,No,Yes,Caucasian
254,13.997826,36.508,6386,469,4,79,6,Female,No,Yes,Caucasian
30,10.201523,34.142,5666,413,4,47,5,Female,No,Yes,Caucasian

In [14]:
df.iloc[:,:]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

In [15]:
df.iloc[5:,5:]

     Age  Education  Gender Student Married         Ethnicity
5     77         10    Male      No      No         Caucasian
6     37         12  Female      No      No  African American
7     87          9    Male      No      No             Asian
8     66         13  Female      No      No         Caucasian
9     41         19  Female     Yes     Yes  African American
..   ...        ...     ...     ...     ...               ...
395   32         13    Male      No     Yes         Caucasian
396   65         17    Male      No      No  African American
397   67         12  Female      No     Yes         Caucasian
398   44         13    Male      No     Yes         Caucasian
399   64          7  Female      No      No             Asian

[395 rows x 6 columns]

In [20]:
df.iloc[:,0]

0      12.240798
1      23.283334
2      22.530409
3      27.652811
4      16.893978
         ...
395     8.764984
396     9.943838
397    14.882078
398    12.001071
399    10.159598
Name: Balance, Length: 400, dtype: float64

In [21]:
df.iloc[9,:]

Balance             17.756965
Income                 71.061
Limit                    6819
Rating                    491
Cards                       3
Age                        41
Education                  19
Gender                 Female
Student                   Yes
Married                   Yes
Ethnicity    African American
Name: 9, dtype: object